*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header {
    background-color: #FFFFFF;
    padding-top: 16px;
   
   
}

nav {
    width: 83%;
    max-width: 1600px;
    margin: 0px auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

 nav .menu{
    display: flex ;
    list-style-type:none;
    gap: 32px;
    font-weight: 500px;
   
}

nav .menu a {
    display: flex ;
    text-decoration:none;
    gap: 32px;
    font-weight: 500px;
    font-style: medium ;
    font-weight: 500;
    color: #000000;
   
}

.btn {
    align-items: right;
    background-color: green;
    color: #FFFFFF;
    padding: 12px 16px;
    border: none;
    border-radius: 4%;
    padding: 12px 16px;
    font-style: semi-bold;
    cursor: pointer;
    background-image: url(../B13-A01-Knowledge-Vault/assets/ArrowRight.png) no-repeat;
}

#banner {
    margin: 70px 120px 134px ;
    
   
}
#banner banner-content {
    max-width: 1360px;
}

#banner .banner-content h1{
    font-size: 72px;
    font-weight: bold;
    color: #FFFFFF;
    align-items:center;
    padding: 166px 415px 16px;
}

#banner #text {
    color: #30B868;
}
#banner .banner-content p{
    line-height: 24px;
    font: 18px;
    align-items: center;
    padding: 16px  415px;
    color: #FFFFFF;

}
#banner .banner-content button{
    align-items: center;
    display: flex;
}
.banner-content{
    background-image: url(../B13-A01-Knowledge-Vault/assets/hero-bg.png);
    max-width: 1600px;
    background-size: cover;
    justify-content: center;
}

#about {
padding-top: 130px;
margin: 0 auto;
   
}
.card-container div {
    display: flex;
    margin: 0px auto;
}
 .card {
    
    margin: 0 auto;
    border: 2px solid red;

 
    }

    #box {
        display: flex;
    }
.image-content {
    margin: 120px;
    width: 600px;
    height: 600px;
}
.box-content {
    margin: 222px 120px 220px 0px;
    width: 700px;
    height: 396px;
}

.box-content #mini {
    color: #30B868;
    margin-bottom: 16px;
    font-weight: 500;
}

.box-content h2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 16px;

}

.box-content p {
    font-weight: 400;
    color:  #627382;
    font-size: 16px;
    font-weight: 400;
}

.check-list {
  list-style: none;
  padding: 0;
}

.check-list li {
padding-left: 30px;
margin-bottom: 10px;

}

.check-list li {
  background: url("../B13-A01-Knowledge-Vault/assets/CheckCircle.png") no-repeat left 3px;
  background-size: 18px;
  padding-left: 30px;
  margin-bottom: 12px;
  font-size: 16px;
}
#challange {
    margin: 0px 120px 120px 120px;
}

.text-container {
    padding: 80px 40px;
    background-color: #F7F6F2;
}

.text h3{
    font-size: 40px;
    font-weight: 700;
    margin: 80px 40px 0;
    line-height: 48px;
    text-align: center;
  
 
}

.text p {
    margin-top: 16px;
    font-weight: 400;
    text-align: center;
    color: #627382;
    
}

.special {
    text-align: center;
    margin: 24px 543px 16px;
}

#footer {
    background-color:#001931;
    width: 1920px;
    height: auto;
    display: flex;
    
   
}

.f-logo {
     margin: 125px 1000px 187px 183px;
   
}
.s-link {
    color: #FFFFFF;
    font-size: 20px;
    position: middle;
    margin-top: 125px;
}

.s-link p {
    color: #FFFFFF;
    margin: 0 auto;
}
.site-footer{
    background-color: #001931;
    color: #FFFFFF;
    text-align: center;
    
}